{% include header.html %}
<head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include post-content.html %}
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
